<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

	<!-- 注册dao -->
	<bean id="isalchanceDao" class="com.zking.crm.market.dao.imp.SalChanceDaoImpl" parent="baseDao">
	</bean>
	<!-- 注册Biz -->
	<bean id="isalchanceBiz" class="com.zking.crm.market.biz.imp.ISalchanceBizImpl" parent="baseBiz">
		<property ref="isalchanceDao" name="isalchanceDao" />
	</bean>
	<!-- 注册action -->
	<bean id="salchanceAction" class="com.zking.crm.market.action.SalchanceAction"
	scope="prototype" parent="baseAction">
		<property ref="isalchanceBiz" name="isalchanceBiz"></property>
	</bean>
</beans>
