<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

	<!-- 注册CstLinkmanDao -->
	<bean id="cstLinkmanDao" class="com.zking.crm.custmer.dao.impl.CstLinkmanDaoImpl" parent="baseDao">
	</bean>
	<!-- 注册CstLinkmanBiz -->
	<bean id="cstLinkmanBiz" class="com.zking.crm.custmer.biz.impl.CstLinkmanBizImpl" parent="baseBiz">
		<property ref="cstLinkmanDao" name="cstLinkmanDao" />
	</bean>
	<!-- 注册CstLinkmanaction -->
	<bean id="cstLinkmanAction" class="com.zking.crm.custmer.action.CstLinkmanAction"
	scope="prototype" parent="baseAction">
		<property ref="cstLinkmanBiz" name="cstLinkmanBiz"></property>
	</bean> 

</beans>
