<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

	<!-- 注册dao -->
	<bean id="iproductDao"
		class="com.zking.crm.dictionary.dao.imp.ProductDaoImpl" parent="baseDao">
	</bean>
	<!-- 注册Biz -->
	<bean id="iproductBiz"
		class="com.zking.crm.dictionary.biz.imp.ProductBizImpl" parent="baseBiz">
		<property ref="iproductDao" name="iproductDao" />
	</bean>
	<!-- 注册action -->
	<bean id="productAction"
		class="com.zking.crm.dictionary.action.ProductAction" scope="prototype"
		parent="baseAction">
		<property ref="iproductBiz" name="iproductBiz"></property>
	</bean>
</beans>
